@charset "utf-8";
@import 'library/bootstrap.min.css';
* {
  margin: 0;
  padding: 0;
}
body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
  background-color: #fff;
}
ul {
  list-style: none;
  margin-bottom: 0;
}
a,
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}
a:hover {
  color: #ff6700;
}
em,
i,
strong,
b {
  font-style: normal;
}
img {
  display: block;
}
img,
input,
button {
  outline: none;
}
h1 {
  margin: 0;
}
.glyphicon {
  top: 0;
}
.contain {
  width: 1226px;
  margin: 0 auto;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}
.show {
  display: block;
}
.hide {
  display: none;
}
/**
* animation
*/
.footer_service {
  padding: 27px 0;
  border-bottom: 1px solid #b0b0b0;
}
.footer_service ul li {
  float: left;
  width: 245.2px;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  border-left: 1px solid #b0b0b0;
  text-align: center;
}
.footer_service ul li:first-child {
  border-left-color: transparent;
}
.footer_service ul li a {
  color: #616161;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.footer_service ul li a:hover {
  color: #ff6700;
}
.footer_service ul li a em {
  margin-right: 8px;
  font-size: 18px;
  vertical-align: -4px;
}
.footer_links {
  padding: 40px 0;
}
.footer_links .flinks_item {
  float: left;
  width: 160px;
  margin: 0;
}
.footer_links .flinks_item > dt {
  margin: -1px 0 26px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.25;
  color: #424242;
}
.footer_links .flinks_item > dd {
  margin: 10px 0 0;
  font-size: 12px;
}
.footer_links .flinks_item > dd > a {
  color: #757575;
}
.footer_links .flinks_item_right {
  float: right;
  width: 252px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  color: #616161;
}
.footer_links .flinks_item_right .phone {
  font-size: 22px;
  line-height: 1;
  color: #ff6700;
}
.footer_links .flinks_item_right p {
  margin: 0 0 5px 0;
  font-size: 12px;
}
.footer_links .flinks_item_right .staff {
  display: inline-block;
  width: 118px;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
  padding: 0;
  margin: 0;
  border: 1px solid #ff6700;
  text-align: center;
  background: #fff;
  color: #ff6700;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.footer_links .flinks_item_right .staff:hover {
  background: #ff6700;
  color: #fff;
}
.footer_links .flinks_item_right .staff em {
  vertical-align: -1px;
}
.footer_links .flinks_item_right .follow {
  font-size: 12px;
  margin-top: 10px;
  position: relative;
}
.footer_links .flinks_item_right .follow a {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  margin-top: -3px;
}
.footer_links .flinks_item_right .follow a.wb {
  background: url('../img/wb.png') 50% 0 no-repeat;
  background-size: cover;
}
.footer_links .flinks_item_right .follow a.wb:hover {
  background: url('../img/wb@2x.png') 50% 0 no-repeat;
  background-size: cover;
}
.footer_links .flinks_item_right .follow a.wx {
  background: url('../img/wx.png') 50% 0 no-repeat;
  background-size: cover;
}
.footer_links .flinks_item_right .follow a.wx:hover {
  background: url('../img/wx@2x.png') 50% 0 no-repeat;
  background-size: cover;
}
.footer_links .flinks_item_right .follow a.wx:hover + img {
  display: block;
}
.footer_links .flinks_item_right .follow img {
  display: none;
  width: 126px;
  height: 126px;
  position: absolute;
  top: 20px;
  left: 100px;
  z-index: 2;
}
.footer_info {
  padding: 30px 0;
  font-size: 12px;
  background: #fafafa;
}
.footer_info .finfo_cont {
  position: relative;
}
.footer_info .finfo_logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 57px;
  height: 57px;
  margin-right: 10px;
  background: url('../img/logo-footer.png') no-repeat 50% 50%;
}
.footer_info .finfo_text {
  color: #b0b0b0;
  padding-left: 67px;
}
.footer_info .finfo_text .sites {
  margin: 0;
  line-height: 18px;
}
.footer_info .finfo_text .sites a {
  color: #757575;
}
.footer_info .finfo_text .coryright {
  line-height: 18px;
}
.footer_info .finfo_text .coryright a {
  color: #b0b0b0;
}
.footer_info .finfo_links {
  margin: 4px 0 15px;
  padding-left: 67px;
}
.footer_info .finfo_links a {
  display: inline-block;
}
.footer_info .finfo_links a img {
  width: auto;
  height: 28px;
  margin-left: 0;
}
.footer_info .finfo_links a.safe img {
  height: 40px;
}
.footer_info .finfo_links a.safe img:last-child {
  display: none;
}
.footer_target {
  margin: 30px auto 0;
  width: 100%;
  height: 19px;
}
.footer_target img {
  height: 100%;
  margin: auto;
}
a {
  color: #757575;
}
p {
  margin: 0;
  padding: 0;
}
.cart_header {
  position: relative;
  height: 102px;
  font-size: 12px;
  border-bottom: 2px solid #ff6700;
  background: #fff;
  color: #b0b0b0;
  z-index: 20;
}
.cart_header_logo {
  width: 93px;
  margin-top: 26px;
}
.cart_header_logo .xm_logo {
  display: block;
  width: 55px;
  height: 55px;
  background: #ff6700;
  position: relative;
  margin-right: 7px;
}
.cart_header_logo .xm_logo::before,
.cart_header_logo .xm_logo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.cart_header_logo .xm_logo::before {
  background: url('../img/mi-logo.png') no-repeat center;
}
.cart_header_logo .xm_logo::after {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  background: url('../img/mi-home.png') no-repeat center;
}
.cart_header_logo .xm_logo:hover::before {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.cart_header_logo .xm_logo:hover::after {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cart_header_title {
  height: 48px;
  margin-top: 26px;
}
.cart_header_title > h2 {
  float: left;
  font-weight: 400;
  color: #424242;
  line-height: 48px;
  margin: 0;
  font-size: 28px;
}
.cart_header_title > p {
  float: left;
  height: 20px;
  line-height: 20px;
  margin-top: 20px;
  margin-left: 15px;
  color: #757575;
}
.cart_header_info {
  height: 40px;
  line-height: 40px;
  margin-top: 30px;
}
.cart_header_info .user {
  position: relative;
  width: 110px;
  padding: 0;
  white-space: nowrap;
}
.cart_header_info .user .user_name {
  position: relative;
  display: block;
  width: 110px;
  height: 40px;
  text-align: center;
  z-index: 5;
}
.cart_header_info .user .user_name .name {
  display: inline-block;
  width: auto;
  max-width: 75px;
  text-overflow: ellipsis;
  vertical-align: text-bottom;
  overflow: hidden;
}
.cart_header_info .user .user_name i {
  font-size: 12px;
  line-height: 1;
  vertical-align: 12px;
}
.user_menu_wrapper {
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 3;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
.user_menu_wrapper .user_menu {
  width: 110px;
  padding: 7px 0;
}
.user_menu_wrapper .user_menu a {
  display: block;
  padding: 3px 30px;
  line-height: 2;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
.user_menu_wrapper .user_menu a:hover {
  background: #f5f5f5;
}
.cart_link_order {
  width: 70px;
  text-align: center;
  padding: 0 5px;
}
.cart_main {
  padding: 38px 0;
  background: #f5f5f5;
}
.cart_table {
  background: #fff;
}
.cart_table th {
  height: 70px;
  vertical-align: middle!important;
  text-align: center;
  color: #424242;
  font-weight: normal;
  font-size: 14px;
}
.cart_table .icon_check {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid 1px #e0e0e0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 15px;
  line-height: 22px;
  font-size: 12px;
  color: transparent;
  font-weight: normal;
}
.cart_table .icon_check:hover {
  color: #9e9e9e;
}
.cart_table .icon_check.active {
  color: #fff;
  background: #ff6700;
}
.cart_table td {
  height: 11px;
  vertical-align: middle!important;
  text-align: center;
  color: #424242;
  font-size: 16px;
}
.cart_table td > strong {
  font-weight: normal;
  color: #ff6700;
}
.cart_table td .link {
  display: block;
}
.cart_table td .link > img,
.cart_table td .link p {
  display: inline-block;
}
.cart_table td .link .title {
  width: 370px;
  font-size: 18px;
  font-weight: 400;
  margin-left: 40px;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #424242;
}
.cart_table td:first-child,
.cart_table td:nth-of-type(2) {
  text-align: left;
}
.cart_table td:first-child {
  padding-left: 23px;
}
.cart_table .change_num {
  width: 150px;
  height: 40px;
  border: 1px solid #e0e0e0;
  text-align: center;
  background-color: #fff;
  position: relative;
  zoom: 1;
}
.cart_table .change_num > a {
  float: left;
  width: 38px;
  height: 40px;
  line-height: 40px;
  margin-top: -1px;
  color: #757575;
  font-size: 20px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.cart_table .change_num > a:hover {
  background: #e0e0e0;
}
.cart_table .change_num > a:first-child {
  transform: translateX(-1px);
  -webkit-transform: translateX(-1px);
}
.cart_table .change_num > a:last-child {
  transform: translateX(1px);
  -webkit-transform: translateX(1px);
}
.cart_table .change_num > input {
  float: left;
  width: 72px;
  height: 38px;
  line-height: 38px;
  padding: 0;
  border-width: 0;
  color: #424242;
  font-size: 16px;
  text-align: center;
}
.cart_table .del {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 12px;
  color: #757575;
  font-size: 14px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.cart_table .del > i {
  line-height: 24px;
}
.cart_table .del:hover {
  background: #ff6700;
  color: #fff;
}
.cart_bar {
  height: 50px;
  text-align: right;
  background-color: #fff;
  -webkit-transition: background 0.3s ease top 0.3s ease;
  -moz-transition: background 0.3s ease top 0.3s ease;
  -o-transition: background 0.3s ease top 0.3s ease;
  transition: background 0.3s ease top 0.3s ease;
}
.cart_bar.fixed {
  position: fixed;
  width: 1226px;
  left: 50%;
  margin-left: -613px;
  bottom: 0;
  z-index: 20;
  background-color: #fafafa;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.1);
}
.cart_bar .cart_bar_left {
  line-height: 50px;
  margin-left: 32px;
}
.cart_bar .cart_bar_left .cart_total {
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px solid #eee;
  color: #adadad;
}
.cart_bar .cart_bar_left .cart_total > em {
  color: #ff6700;
}
.cart_bar .cart_bar_right {
  line-height: 50px;
}
.cart_bar .cart_bar_right > span {
  color: #ff6700;
}
.cart_bar .cart_bar_right > span > strong {
  font-size: 30px;
  font-weight: normal;
}
.cart_bar .cart_bar_right .sum_btn {
  display: inline-block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  margin-left: 50px;
  text-align: center;
  vertical-align: top;
  background: #e0e0e0;
  color: #b0b0b0;
  cursor: default;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.cart_bar .cart_bar_right .sum_btn.active {
  background: #ff6700;
  color: #fff;
}
.cart_bar .cart_bar_right .sum_btn.active:hover {
  background: #e45d03;
}
