@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
}
body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
  background-color: #fff;
  min-width: 1226px;
}
ul {
  list-style: none;
  margin-bottom: 0;
}
a,
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}
a:hover {
  color: #ff6700;
}
em,
i,
strong,
b {
  font-style: normal;
}
img {
  display: block;
}
h1 {
  margin: 0;
}
.glyphicon {
  top: 0;
}
.contain {
  width: 1226px;
  margin: 0 auto;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}
.show {
  display: block;
}
.hide {
  display: none;
}
/**
* animation
*/
