@charset 'utf-8';
@import 'library/bootstrap.min.css';
@import 'library/swiper-bundle.min.css';
* {
  margin: 0;
  padding: 0;
}
body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
  background-color: #fff;
}
ul {
  list-style: none;
  margin-bottom: 0;
}
a,
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}
a:hover {
  color: #ff6700;
}
em,
i,
strong,
b {
  font-style: normal;
}
img {
  display: block;
}
img,
input,
button {
  outline: none;
}
h1 {
  margin: 0;
}
.glyphicon {
  top: 0;
}
.contain {
  width: 1226px;
  margin: 0 auto;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}
.show {
  display: block;
}
.hide {
  display: none;
}
/**
* animation
*/
body {
  min-width: 1226px;
}
.topbanner > a {
  width: 100%;
  height: 120px;
  display: block;
  background: url('../img/bb3c06a430689ba2357dd7d1fbfa6bab.jpg') 50%;
  background-size: auto 120px;
}
@-moz-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-moz-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-moz-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-o-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-o-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-o-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-webkit-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-webkit-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-webkit-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-moz-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-moz-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-moz-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-o-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-o-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-o-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-webkit-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-webkit-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-webkit-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-moz-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-moz-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-moz-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-o-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-o-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-o-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-webkit-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-webkit-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-webkit-keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@keyframes loadcenter {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.5);
  }
}
@-moz-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-moz-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-moz-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-o-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-o-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-o-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-webkit-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-webkit-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-webkit-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-moz-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-moz-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-moz-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-o-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-o-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-o-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-webkit-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-webkit-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-webkit-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-moz-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-moz-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-moz-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-o-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-o-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-o-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-webkit-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-webkit-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@-webkit-keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
@keyframes loadside {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.3);
  }
}
.h_top {
  height: 40px;
  background: #333;
}
.h_top .h_navbar .clearfix > ul > li {
  float: left;
  position: relative;
  margin: 0 9px;
}
.h_top .h_navbar .clearfix > ul > li::after {
  content: '|';
  position: absolute;
  right: -10px;
  top: 0;
  line-height: 40px;
  color: #424242;
}
.h_top .h_navbar .clearfix > ul > li a {
  display: block;
  color: #fff;
  font-size: 12px;
  color: #b0b0b0;
  line-height: 40px;
}
.h_top .h_navbar .clearfix > ul > li a:hover {
  color: #fff;
}
.h_top .h_navbar .clearfix > ul > li:first-of-type {
  margin-left: 0;
}
.h_top .h_navbar .clearfix > ul > li:last-of-type {
  margin-right: 0;
}
.h_top .h_navbar .clearfix > ul > li:last-of-type::after {
  display: none;
}
.h_top .h_navbar .clearfix .car {
  position: relative;
}
.h_top .h_navbar .clearfix .car > .car_link {
  display: block;
  width: 120px;
  margin-left: 15px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  color: #b0b0b0;
  background: #424242;
}
.h_top .h_navbar .clearfix .car > .car_link > .glyphicon {
  margin-right: 4px;
}
.h_top .h_navbar .clearfix .car > .car_link > .car_num {
  display: inline-block;
  width: 30px;
  text-align: center;
}
.h_top .h_navbar .clearfix .car .car_cont {
  position: absolute;
  top: 40px;
  right: 0;
  width: 316px;
  height: 0;
  z-index: 99;
  background: #fff;
  color: #424242;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}
.h_top .h_navbar .clearfix .car .car_cont .car_empty,
.h_top .h_navbar .clearfix .car .car_cont .car_loading {
  text-align: center;
  height: 100px;
  line-height: 100px;
}
.h_top .h_navbar .clearfix .car .car_cont .car_loading {
  padding: 40px;
}
.h_top .h_navbar .clearfix .car .car_cont .car_loading .loading,
.h_top .h_navbar .clearfix .car .car_cont .car_loading .loading::before,
.h_top .h_navbar .clearfix .car .car_cont .car_loading .loading::after {
  width: 4px;
  height: 20px;
  display: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.h_top .h_navbar .clearfix .car .car_cont .car_loading .loading {
  margin: 0 auto;
  position: relative;
  background: #ff6700;
  -webkit-animation: loadcenter 0.3s linear infinite;
  -moz-animation: loadcenter 0.3s linear infinite;
  -ms-animation: loadcenter 0.3s linear infinite;
  -o-animation: loadcenter 0.3s linear infinite;
  animation: loadcenter 0.3s linear infinite;
}
.h_top .h_navbar .clearfix .car .car_cont .car_loading .loading::before,
.h_top .h_navbar .clearfix .car .car_cont .car_loading .loading::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -14px;
  margin-top: -10px;
  background: #ffa466;
  -webkit-animation: loadside 0.3s linear 0.25s infinite;
  -moz-animation: loadside 0.3s linear 0.25s infinite;
  -ms-animation: loadside 0.3s linear 0.25s infinite;
  -o-animation: loadside 0.3s linear 0.25s infinite;
  animation: loadside 0.3s linear 0.25s infinite;
}
.h_top .h_navbar .clearfix .car .car_cont .car_loading .loading::after {
  margin-left: 10px;
}
.h_top .h_navbar .clearfix .car:hover .car_link {
  color: #ff6700;
  background: #fff;
}
.h_top .h_navbar .clearfix .car:hover .car_cont {
  height: 100px;
}
.h_top .h_navbar .clearfix .car:hover .car_cont .loading,
.h_top .h_navbar .clearfix .car:hover .car_cont .loading::before,
.h_top .h_navbar .clearfix .car:hover .car_cont .loading::after {
  display: block;
}
.h_top .h_navbar .clearfix .user {
  display: none;
  position: relative;
  float: left;
  width: 110px;
  padding: 0;
  white-space: nowrap;
}
.h_top .h_navbar .clearfix .user .user_name {
  position: relative;
  display: block;
  width: 110px;
  height: 40px;
  text-align: center;
  z-index: 5;
  color: #b0b0b0;
  line-height: 40px;
}
.h_top .h_navbar .clearfix .user .user_name .name {
  display: inline-block;
  width: auto;
  max-width: 75px;
  text-overflow: ellipsis;
  vertical-align: text-bottom;
  overflow: hidden;
}
.h_top .h_navbar .clearfix .user .user_name i {
  font-size: 12px;
  line-height: 1;
  vertical-align: 12px;
}
.h_cont {
  height: 100px;
  position: relative;
}
.h_cont .xm_logo {
  display: block;
  width: 55px;
  height: 55px;
  background: #ff6700;
  position: relative;
  margin-top: 22px;
  margin-right: 7px;
}
.h_cont .xm_logo::before,
.h_cont .xm_logo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.h_cont .xm_logo::before {
  background: url('../img/mi-logo.png') no-repeat center;
}
.h_cont .xm_logo::after {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  background: url('../img/mi-home.png') no-repeat center;
}
.h_cont .xm_logo:hover::before {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.h_cont .xm_logo:hover::after {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.h_cont .hc_nav {
  padding: 12px 0 0 30px;
  font-size: 16px;
}
.h_cont .hc_nav > .hc_link {
  float: left;
}
.h_cont .hc_nav > .hc_link > a {
  display: block;
  padding: 26px 10px 38px;
  color: #333;
}
.h_cont .hc_nav > .hc_link > a:hover {
  color: #ff6700;
}
.h_cont .hc_nav > .hc_link_all {
  float: left;
  position: relative;
  width: 142px;
  height: 88px;
  padding-right: 15px;
}
.h_cont .hc_nav > .hc_link_all > a {
  display: block;
  padding: 26px 0 38px;
  text-align: right;
  color: #333333;
}
.h_cont .hc_nav > .hc_link_all > a.hide {
  visibility: hidden;
  display: block;
}
.h_cont .hc_nav > .hc_link_all > a:hover {
  color: #ff6700;
}
.h_cont .hc_search {
  margin-top: 25px;
}
.h_cont .hc_search > input {
  width: 245px;
  height: 50px;
  border: solid 1px #e0e0e0;
  padding: 0 10px;
}
.h_cont .hc_search > a {
  display: inline-block;
  width: 52px;
  height: 50px;
  margin-left: -1px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2em;
  color: #616161;
  border: solid 1px #e0e0e0;
}
.h_cont .hc_search > a:hover {
  background: #ff6700;
  color: #fff;
}
.hclink_menu_outer {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 111;
  width: 100%;
  height: 0;
  border-top: 1px solid #e0e0e0;
  background: #fff;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}
.hclink_menu_outer.active {
  height: 229px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
}
.hclink_menu_outer .hclink_menu {
  font-size: 12px;
}
.hclink_menu_outer .hclink_menu li {
  float: left;
  width: 180px;
  padding: 35px 12px 0;
  text-align: center;
  position: relative;
}
.hclink_menu_outer .hclink_menu li > a:hover {
  color: #ff6700;
}
.hclink_menu_outer .hclink_menu li > a .pic {
  margin: 0 auto 16px;
}
.hclink_menu_outer .hclink_menu li > a img {
  width: 150px;
  height: 110px;
  margin: 0 auto;
}
.hclink_menu_outer .hclink_menu li > a .title {
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  line-height: 20px;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.hclink_menu_outer .hclink_menu li > a .price {
  margin: 0;
  line-height: 20px;
  color: #ff6700;
}
.hclink_menu_outer .hclink_menu li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 35px;
  z-index: 1;
  width: 1px;
  height: 100px;
  background-color: #e0e0e0;
}
.hclink_menu_outer .hclink_menu > li:first-child::after {
  display: none;
}
.type_list {
  width: 234px;
  padding: 20px 0;
  background: rgba(105, 101, 101, 0.6);
  position: absolute;
  top: 88px;
  left: -92px;
  z-index: 99;
  font-size: 14px;
  border: solid 1px rgba(105, 101, 101, 0.6);
}
.type_list.new {
  background: #fff;
  border-color: #ff6700;
  top: 87px;
  z-index: 999;
}
.type_list.new > li > a {
  color: #424242;
}
.type_list.new > li > a > em {
  color: #b0b0b0;
}
.type_list.new > li > a:hover {
  color: #fff;
}
.type_list.new > li > a:hover > em {
  color: #fff;
}
.type_list > li:hover .hbar_cont {
  display: block;
}
.type_list > li > a {
  display: block;
  height: 42px;
  line-height: 42px;
  color: #fff;
  padding-left: 30px;
  position: relative;
}
.type_list > li > a > em {
  position: absolute;
  right: 20px;
  top: 14px;
  font-size: 14px;
}
.type_list > li > a:hover {
  background: #ff6700;
}
.hbar_cont {
  display: none;
  position: absolute;
  top: 0;
  left: 233px;
  z-index: 122;
  height: 458px;
  max-width: 992px;
  border: 1px solid #e0e0e0;
  border-left: 0;
  background: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
}
.hbar_cont .hbar_list li {
  float: left;
  width: 246px;
  height: 76px;
}
.hbar_cont .hbar_list li a {
  display: block;
  padding: 18px 20px;
  line-height: 40px;
  color: #333;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.hbar_cont .hbar_list li a:hover {
  color: #ff6700;
}
.hbar_cont .hbar_list li a img {
  display: inline-block;
  margin-right: 12px;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}
.hbar_cont .hbar_list li a .title {
  width: 172px;
  line-height: 40px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.user_menu_wrapper {
  height: 184px;
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 999;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
.user_menu_wrapper > .user_menu {
  width: 110px;
  padding: 7px 0;
}
.user_menu_wrapper > .user_menu > li > a {
  display: block;
  padding: 3px 30px;
  line-height: 2;
  color: #b0b0b0;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
.user_menu_wrapper > .user_menu > li > a:hover {
  background: #f5f5f5;
  color: #ff6700;
}
/**
* animation
*/
.swiper_wrapper {
  height: 460px;
  overflow: hidden;
  position: relative;
}
.swiper_wrapper .swiper_list > li > a {
  display: block;
}
.swiper_wrapper .swiper_list > li > a img {
  width: 100%;
  height: 100%;
}
.swiper_wrapper .swiper_pagination {
  position: absolute;
  left: auto;
  right: 30px;
  bottom: 20px;
  text-align: right;
  z-index: 60;
}
.swiper_wrapper .swiper_pagination > span {
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 3px;
  border: solid 2px #fff;
  border-color: hsla(0, 0%, 100%, 0.3);
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
}
.swiper_wrapper .swiper_pagination > span:hover,
.swiper_wrapper .swiper_pagination > span.swiper-pagination-bullet-active {
  background: hsla(0, 0%, 100%, 0.4);
  border-color: rgba(0, 0, 0, 0.4);
}
.swiper_wrapper .swiper_btn {
  position: absolute;
  top: 50%;
  width: 41px;
  height: 69px;
  margin-top: -35px;
  z-index: 10;
  cursor: pointer;
  outline: none;
}
.swiper_wrapper .swiper_btn_prev {
  left: 234px;
  background: url('../img/icon-slides.png') no-repeat -84px 50%;
}
.swiper_wrapper .swiper_btn_prev:hover {
  background-color: rgba(0, 0, 0, 0.3);
  background-position: 0 50%;
}
.swiper_wrapper .swiper_btn_next {
  right: 0;
  background: url('../img/icon-slides.png') no-repeat -125px 50%;
}
.swiper_wrapper .swiper_btn_next:hover {
  background-color: rgba(0, 0, 0, 0.3);
  background-position: -43px 50%;
}
.home_sub {
  margin-top: 14px;
  margin-bottom: 26px;
}
.home_channel_list {
  width: 234px;
  font-size: 12px;
  padding: 3px;
  background: #5f5750;
}
.home_channel_list > li {
  float: left;
  width: 76px;
  height: 82px;
  padding: 0 3px;
}
.home_channel_list > li > a {
  display: block;
  position: relative;
  padding-top: 18px;
  color: #fff;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.home_channel_list > li > a::before,
.home_channel_list > li > a::after {
  content: '';
  display: block;
  position: absolute;
  background: #665e57;
}
.home_channel_list > li > a::before {
  top: -1px;
  left: 3px;
  width: 64px;
  height: 1px;
}
.home_channel_list > li > a::after {
  top: 6px;
  left: -3px;
  width: 1px;
  height: 70px;
}
.home_channel_list > li > a:hover {
  opacity: 1;
}
.home_channel_list > li > a > img {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto 4px;
}
.home_channel_list > li > a > p {
  text-align: center;
}
.home_promo_list > li {
  float: left;
  margin-left: 14px;
}
.home_promo_list > li > a {
  display: block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.home_promo_list > li > a > img {
  display: block;
  width: 316px;
  height: 170px;
}
.home_promo_list > li > a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.home_main {
  padding-top: 4px;
  padding-bottom: 12px;
  background: #f5f5f5;
}
.home_main .hm_temp {
  margin-bottom: 22px;
  position: relative;
}
.home_main .hm_temp > h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
.home_main .hm_temp .hmt_item {
  width: 234px;
  height: 340px;
  text-align: center;
  padding-top: 39px;
  border-top: solid 1px transparent;
}
.home_main .hm_temp .hmt_item .hmt_round {
  font-size: 21px;
  color: #ef3a3b;
  padding-top: 15px;
}
.home_main .hm_temp .hmt_item > img {
  margin: 25px auto;
}
.home_main .hm_temp .hmt_item .hmt_desc {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}
.home_main .hm_temp .hmt_item .hmt_timer {
  width: 168px;
  margin: 28px auto 0;
}
.home_main .hm_temp .hmt_item .hmt_timer span {
  float: left;
  width: 46px;
  height: 46px;
  background: #605751;
  color: #fff;
  font-size: 24px;
  line-height: 46px;
}
.home_main .hm_temp .hmt_item .hmt_timer i {
  float: left;
  width: 15px;
  height: 46px;
  line-height: 46px;
  color: #605751;
  font-size: 28px;
  font-style: normal;
}
.home_main .hm_temp .hmt_item.hmt_seckill {
  background: #f1eded;
  border-top-color: #e53935;
}
.home_main .hmt_list_model {
  width: 992px;
}
.home_main .hmt_list_model > li {
  height: 300px;
  margin-bottom: 14px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.home_main .hmt_list_model > li:hover {
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  z-index: 88;
}
.home_main .hmt_list_model > li > .hmt_item {
  padding-top: 20px;
  height: 300px;
}
.hmt_list > li {
  width: 234px;
  height: 340px;
  float: left;
  margin-left: 14px;
  border-top: solid 1px transparent;
}
.hmt_list > li .hmt_item {
  display: block;
  padding-top: 39px;
  background: #fff;
}
.hmt_list > li .hmt_item .pro {
  width: 160px;
  margin: 0 auto 22px;
}
.hmt_list > li .hmt_item .pro > img {
  width: 160px;
  height: 160px;
}
.hmt_list > li .hmt_item .title {
  margin: 0 20px 3px;
  font-size: 14px;
  font-weight: 400;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.hmt_list > li .hmt_item .desc {
  height: 18px;
  margin: 0 20px 12px;
  font-size: 12px;
  color: #b0b0b0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.hmt_list > li .hmt_item .price {
  color: #ff6700;
}
.hmt_list > li .hmt_item .price del {
  color: #b0b0b0;
  padding-left: 5px;
}
.hmt_swiper > li {
  border-top-color: #ff6700;
}
.hmt_swiper_btn {
  position: absolute;
  right: 0;
  top: 20px;
}
.hmt_swiper_btn span {
  display: inline-block;
  width: 30px;
  height: 28px;
  text-align: center;
  line-height: 24px;
  border: 1px solid #e0e0e0;
  color: #b0b0b0;
  padding: 3px 5px;
  cursor: pointer;
}
.hmt_swiper_btn span:hover {
  color: #ff6700;
}
.hmt_swiper_btn .left {
  margin-right: -5px;
  border-right: none;
}
.hmt_adv_out {
  height: 120px;
  margin: 22px 0;
  overflow: hidden;
}
.hmt_adv_out a {
  display: block;
}
.hmt_adv_out a img {
  width: 100%;
  height: 120px;
}
.hmt_left {
  width: 234px;
}
.hmt_left a {
  display: block;
}
.hmt_left .one img {
  width: 100%;
  height: 614px;
}
.hmt_left .dbl {
  margin-bottom: 14px;
}
.hmt_left .dbl img {
  width: 100%;
  height: 300px;
}
.hmt_more {
  position: absolute;
  top: 0;
  right: 0;
}
.hmt_more a {
  display: block;
  font-size: 16px;
  line-height: 58px;
  color: #424242;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.hmt_more a:hover {
  color: #ff6700;
}
.hmt_more a:hover em {
  background: #ff6700;
}
.hmt_more a span {
  vertical-align: middle;
}
.hmt_more a em {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #b0b0b0;
  margin-left: 3px;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.hmt_more a em i {
  font-size: 12px;
}
.hmt_last_wrapper {
  width: 234px;
  margin-left: 14px;
  float: left;
}
.hmt_last_lbox {
  margin-bottom: 14px;
}
.hmt_last_lbox .hmt_item_last {
  position: relative;
  display: block;
  height: 143px;
  padding-top: 40px;
  color: #333;
  background: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.hmt_last_lbox .hmt_item_last:hover {
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  z-index: 88;
}
.hmt_last_lbox .hmt_item_last .title {
  margin: 0 110px 5px 30px;
  font-size: 14px;
  font-weight: 400;
}
.hmt_last_lbox .hmt_item_last .price {
  margin: 0 110px 0 30px;
  font-size: 12px;
  color: #ff6700;
}
.hmt_last_lbox .hmt_item_last .more {
  margin: 0 110px 0 30px;
  font-size: 18px;
}
.hmt_last_lbox .hmt_item_last .more em {
  display: block;
  font-size: 12px;
  color: #757575;
}
.hmt_last_lbox .hmt_item_last .more_icon {
  position: absolute;
  right: 35px;
  top: 39px;
  color: #ff6700;
}
.hmt_last_lbox .hmt_item_last .more_icon img {
  width: 48px;
  height: 48px;
}
.hmt_last_lbox .hmt_item_last .pro {
  position: absolute;
  top: 32px;
  right: 20px;
}
.hmt_last_lbox .hmt_item_last .pro img {
  width: 80px;
  height: 80px;
}
.hmt_tab li {
  display: inline-block;
  margin-top: 16px;
  margin-left: 26px;
  font-size: 16px;
  color: #424242;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.hmt_tab li.active {
  color: #ff6700;
  border-color: #ff6700;
}
.hmt_video_list li {
  float: left;
}
.hmt_video_list li a {
  display: block;
  width: 296px;
  height: 285px;
  margin-left: 14px;
  margin-bottom: 14px;
  text-align: center;
  background: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.hmt_video_list li a:hover {
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  z-index: 88;
}
.hmt_video_list li a .video {
  height: 180px;
  position: relative;
}
.hmt_video_list li a .video img {
  width: 100%;
  height: 100%;
}
.hmt_video_list li a .video .play {
  position: absolute;
  left: 20px;
  bottom: 10px;
  width: 36px;
  height: 24px;
  border: 2px solid #fff;
  border-radius: 12px;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  color: #fff;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.hmt_video_list li a .video .play:hover {
  background: #ff6700;
  border-color: #ff6700;
}
.hmt_video_list li a .title {
  margin: 28px 14px 6px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.hmt_video_list li a .desc {
  height: 18px;
  margin: 0 14px;
  font-size: 12px;
  color: #b0b0b0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.hmt_video_list li:first-of-type a {
  margin-left: 0;
}
.footer_service {
  padding: 27px 0;
  border-bottom: 1px solid #b0b0b0;
}
.footer_service ul li {
  float: left;
  width: 245.2px;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  border-left: 1px solid #b0b0b0;
  text-align: center;
}
.footer_service ul li:first-child {
  border-left-color: transparent;
}
.footer_service ul li a {
  color: #616161;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.footer_service ul li a:hover {
  color: #ff6700;
}
.footer_service ul li a em {
  margin-right: 8px;
  font-size: 18px;
  vertical-align: -4px;
}
.footer_links {
  padding: 40px 0;
}
.footer_links .flinks_item {
  float: left;
  width: 160px;
  margin: 0;
}
.footer_links .flinks_item > dt {
  margin: -1px 0 26px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.25;
  color: #424242;
}
.footer_links .flinks_item > dd {
  margin: 10px 0 0;
  font-size: 12px;
}
.footer_links .flinks_item > dd > a {
  color: #757575;
}
.footer_links .flinks_item_right {
  float: right;
  width: 252px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  color: #616161;
}
.footer_links .flinks_item_right .phone {
  font-size: 22px;
  line-height: 1;
  color: #ff6700;
}
.footer_links .flinks_item_right p {
  margin: 0 0 5px 0;
  font-size: 12px;
}
.footer_links .flinks_item_right .staff {
  display: inline-block;
  width: 118px;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
  padding: 0;
  margin: 0;
  border: 1px solid #ff6700;
  text-align: center;
  background: #fff;
  color: #ff6700;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.footer_links .flinks_item_right .staff:hover {
  background: #ff6700;
  color: #fff;
}
.footer_links .flinks_item_right .staff em {
  vertical-align: -1px;
}
.footer_links .flinks_item_right .follow {
  font-size: 12px;
  margin-top: 10px;
  position: relative;
}
.footer_links .flinks_item_right .follow a {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  margin-top: -3px;
}
.footer_links .flinks_item_right .follow a.wb {
  background: url('../img/wb.png') 50% 0 no-repeat;
  background-size: cover;
}
.footer_links .flinks_item_right .follow a.wb:hover {
  background: url('../img/wb@2x.png') 50% 0 no-repeat;
  background-size: cover;
}
.footer_links .flinks_item_right .follow a.wx {
  background: url('../img/wx.png') 50% 0 no-repeat;
  background-size: cover;
}
.footer_links .flinks_item_right .follow a.wx:hover {
  background: url('../img/wx@2x.png') 50% 0 no-repeat;
  background-size: cover;
}
.footer_links .flinks_item_right .follow a.wx:hover + img {
  display: block;
}
.footer_links .flinks_item_right .follow img {
  display: none;
  width: 126px;
  height: 126px;
  position: absolute;
  top: 20px;
  left: 100px;
  z-index: 2;
}
.footer_info {
  padding: 30px 0;
  font-size: 12px;
  background: #fafafa;
}
.footer_info .finfo_cont {
  position: relative;
}
.footer_info .finfo_logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 57px;
  height: 57px;
  margin-right: 10px;
  background: url('../img/logo-footer.png') no-repeat 50% 50%;
}
.footer_info .finfo_text {
  color: #b0b0b0;
  padding-left: 67px;
}
.footer_info .finfo_text .sites {
  margin: 0;
  line-height: 18px;
}
.footer_info .finfo_text .sites a {
  color: #757575;
}
.footer_info .finfo_text .coryright {
  line-height: 18px;
}
.footer_info .finfo_text .coryright a {
  color: #b0b0b0;
}
.footer_info .finfo_links {
  margin: 4px 0 15px;
  padding-left: 67px;
}
.footer_info .finfo_links a {
  display: inline-block;
}
.footer_info .finfo_links a img {
  width: auto;
  height: 28px;
  margin-left: 0;
}
.footer_info .finfo_links a.safe img {
  height: 40px;
}
.footer_info .finfo_links a.safe img:last-child {
  display: none;
}
.footer_target {
  margin: 30px auto 0;
  width: 100%;
  height: 19px;
}
.footer_target img {
  height: 100%;
  margin: auto;
}
.aside {
  position: fixed;
  left: 50%;
  right: auto;
  margin-left: 613px;
  bottom: 40px;
  z-index: 999;
}
.aside_tool li {
  position: relative;
  width: 27px;
  height: 42px;
  border: 1px solid #f5f5f5;
  background-color: #fff;
  cursor: pointer;
  padding: 10px 0;
}
.aside_tool li > img {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
.aside_tool li.toTop {
  margin-top: 14px;
  visibility: hidden;
}
.aside_tool li .tag {
  display: none;
  position: absolute;
  right: 145%;
  top: 0;
  padding: 0 8px;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  z-index: 999;
}
.aside_tool li .tag::before,
.aside_tool li .tag::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 0;
  height: 0;
  margin-top: -6px;
  border-width: 6px;
  border-style: solid;
  overflow: hidden;
}
.aside_tool li .tag::before {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #f5f5f5;
  right: -13px;
  z-index: 1;
}
.aside_tool li .tag::after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff;
  right: -12px;
  z-index: 2;
}
.aside_tool li .tagimg > img {
  width: 100px;
  height: 100px;
  margin: 6px auto;
}
.aside_tool li .tagimg > .desc {
  display: block;
  width: 82px;
  margin: 14px auto 0;
  color: #757575;
  text-align: center;
}
.aside_tool li .tagtext {
  top: 50%;
  margin-top: -15px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
}
.aside_tool li .tagtext::before,
.aside_tool li .tagtext::after {
  top: 15px;
}
